<a href="https://colab.research.google.com/github/VidhyaKishor27/Pythonbasic/blob/main/Dataframe_missing_data%2Creplace%2Cduplicate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
#dataframe with missing data, to replace values, find duplicate
#isna() & notna() -> find missing data in dataframe
#dropna(axis=0)-> drops the missind data row if, axis =1 drops col
#fillna()->fills up the missing data
#replace(old value,new value)-> replaces values in all the places where old value is given
#dulicated() ->find duplicates
import pandas as pd
df=pd.read_excel('/content/drive/MyDrive/Python training/missing data.xlsx')
#print(df)
print(df.isna()) # gives bool value for all data
print(df.isna().any()) # give bool value on col having missing data
print(df.fillna("missing"))
df.dropna(axis=0) # removes missing data rows from the dataframe
#print(df.replace(12345,1234))

    Ticket No  Passengar Name    Age    Sex  Boarded from  Destination  \
0       False           False  False  False         False        False
1       False           False  False  False         False        False
2       False           False  False  False         False        False
3       False           False  False  False          True        False
4       False           False  False  False         False        False
5       False           False  False  False         False        False
6       False           False  False  False         False        False
7       False           False  False  False         False        False
8       False           False  False  False         False        False
9       False           False  False  False         False        False
10      False           False  False  False          True        False
11      False           False  False  False         False        False
12      False           False  False  False         False        False
13      False           False  False  False         False        False
14      False           False  False  False         False        False
15      False           False  False  False         False        False
16      False           False  False  False          True        False
17      False           False  False  False         False        False
18      False           False  False  False         False        False
19      False           False  False  False         False        False
20      False           False  False  False         False        False
21      False           False  False  False         False        False
22      False           False  False  False         False        False
23      False           False  False  False         False        False
24      False           False  False  False         False        False
25      False           False  False  False         False        False
26      False           False  False  False         False        False
27      False           False  False  False         False        False
28      False           False  False  False         False        False
29      False           False  False  False         False        False
30      False           False  False  False         False        False
31      False           False  False  False         False        False
32      False           False  False  False         False        False
33      False           False  False  False         False        False
34      False           False  False  False         False        False
35      False           False  False  False         False        False
36      False           False  False  False         False        False

    Train name  Seat No
0        False    False
1        False    False
2        False    False
3        False     True
4        False    False
5        False    False
6        False    False
7        False    False
8        False    False
9        False    False
10       False    False
11       False     True
12       False    False
13       False    False
14       False    False
15       False     True
16       False    False
17       False    False
18       False    False
19       False    False
20       False    False
21       False    False
22       False    False
23       False    False
24       False    False
25       False    False
26       False    False
27       False    False
28       False    False
29       False    False
30       False    False
31       False    False
32       False    False
33       False    False
34       False    False
35       False    False
36       False    False
Ticket No         False
Passengar Name    False
Age               False
Sex               False
Boarded from       True
Destination       False
Train name        False
Seat No            True
dtype: bool
    Ticket No Passengar Name  Age     Sex Boarded from Destination  \
0         100            PN1   69    Male          MAS        PDKT
1         101            PN2   65  Female          MAS        PDKT
2         102            PN3   68    Male         PDKT         MAS
3         103            PN4   70    Male      missing         MAS
4         104            PN5   70    Male          MAS        PDKT
5         105            PN6   47  Female         PDKT         MAS
6         106            PN7   53  Female         PDKT         MAS
7         107            PN8   44    Male          MAS        PDKT
8         108            PN9   34  Female         PDKT         MAS
9         109           PN10   38    Male         PDKT         MAS
10        110           PN11   51  Female      missing        PDKT
11        111           PN12   35  Female         PDKT         MAS
12        112           PN13   40  Female         PDKT         MAS
13        113           PN14   21    Male          MAS        PDKT
14        114           PN15   40  Female          MAS        PDKT
15        115           PN16   38    Male          MAS        PDKT
16        116           PN17   80    Male      missing         MAS
17        117           PN18   23    Male          MAS        PDKT
18        118           PN19   32    Male         PDKT         MAS
19        119           PN20   72    Male          MAS        PDKT
20        120           PN21   44    Male         PDKT         MAS
21        121           PN22   67  Female         PDKT         MAS
22        122           PN23   49  Female         PDKT         MAS
23        123           PN24   51    Male         PDKT         MAS
24        124           PN25   22  Female         PDKT         MAS
25        125           PN26   62  Female          MAS        PDKT
26        126           PN27   38  Female          MAS        PDKT
27        127           PN28   68    Male         PDKT         MAS
28        128           PN29   17  Female         PDKT         MAS
29        129           PN30   58    Male         PDKT         MAS
30        130           PN31   49    Male          MAS        PDKT
31        131           PN32   52    Male         PDKT         MAS
32        132           PN33   39    Male         PDKT         MAS
33        133           PN34   31    Male         PDKT         MAS
34        134           PN35   24    Male          MAS        PDKT
35        135           PN36   25  Female          MAS        PDKT
36        136           PN37   27  Female         PDKT         MAS

    Train name  Seat No
0        12345      1.0
1        12345      2.0
2        54321      1.0
3        54321  missing
4        12345      3.0
5        54321      3.0
6        54321      4.0
7        12345      4.0
8        54321      5.0
9        54321      6.0
10       12345      5.0
11       54321  missing
12       54321      8.0
13       12345      6.0
14       12345      7.0
15       12345  missing
16       54321      9.0
17       12345      9.0
18       54321     10.0
19       12345     10.0
20       54321     11.0
21       54321     12.0
22       54321     13.0
23       54321     14.0
24       54321     15.0
25       12345     11.0
26       12345     12.0
27       54321     16.0
28       54321     17.0
29       54321     18.0
30       12345     13.0
31       54321     19.0
32       54321     20.0
33       54321     21.0
34       12345     14.0
35       12345     15.0
36       54321     22.0

,Ticket No,Passengar Name,Age,Sex,Boarded from,Destination,Train name,Seat No
0,100,PN1,69,Male,MAS,PDKT,12345,1.0
1,101,PN2,65,Female,MAS,PDKT,12345,2.0
2,102,PN3,68,Male,PDKT,MAS,54321,1.0
4,104,PN5,70,Male,MAS,PDKT,12345,3.0
5,105,PN6,47,Female,PDKT,MAS,54321,3.0
6,106,PN7,53,Female,PDKT,MAS,54321,4.0
7,107,PN8,44,Male,MAS,PDKT,12345,4.0
8,108,PN9,34,Female,PDKT,MAS,54321,5.0
9,109,PN10,38,Male,PDKT,MAS,54321,6.0
12,112,PN13,40,Female,PDKT,MAS,54321,8.0
13,113,PN14,21,Male,MAS,PDKT,12345,6.0
14,114,PN15,40,Female,MAS,PDKT,12345,7.0
17,117,PN18,23,Male,MAS,PDKT,12345,9.0
18,118,PN19,32,Male,PDKT,MAS,54321,10.0
19,119,PN20,72,Male,MAS,PDKT,12345,10.0
20,120,PN21,44,Male,PDKT,MAS,54321,11.0
21,121,PN22,67,Female,PDKT,MAS,54321,12.0
22,122,PN23,49,Female,PDKT,MAS,54321,13.0
23,123,PN24,51,Male,PDKT,MAS,54321,14.0
24,124,PN25,22,Female,PDKT,MAS,54321,15.0
25,125,PN26,62,Female,MAS,PDKT,12345,11.0
26,126,PN27,38,Female,MAS,PDKT,12345,12.0
27,127,PN28,68,Male,PDKT,MAS,54321,16.0
28,128,PN29,17,Female,PDKT,MAS,54321,17.0
29,129,PN30,58,Male,PDKT,MAS,54321,18.0
30,130,PN31,49,Male,MAS,PDKT,12345,13.0
31,131,PN32,52,Male,PDKT,MAS,54321,19.0
32,132,PN33,39,Male,PDKT,MAS,54321,20.0
33,133,PN34,31,Male,PDKT,MAS,54321,21.0
34,134,PN35,24,Male,MAS,PDKT,12345,14.0
35,135,PN36,25,Female,MAS,PDKT,12345,15.0
36,136,PN37,27,Female,PDKT,MAS,54321,22.0