<a href="https://colab.research.google.com/github/VidhyaKishor27/Pythonbasic/blob/main/Merge_using_file_%26_groyup_by.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Merge() & groupby() - group by is used to group data based on the specified classification.
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
df1=pd.read_excel('/content/drive/MyDrive/Python training/mergedf1.xlsx')
print(df1)
df2=pd.read_excel('/content/drive/MyDrive/Python training/mergedf2.xlsx')
print(df2)
df3=df1.merge(df2,how="inner")
print(df3)
#df4=df3.groupby(['Class'])['Cost'].sum()
print(df3.groupby(['Class'])['Cost'].sum())
#print(df3.groupby(['Class','Sex'])['Age'])
#print(df4)
#print(df4.get_group('AC'))
print(df3.groupby(['Class'])['Name','Cost'].get_group('AC'))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
         Class     Name  Age     Sex   Train
0  First Class     Raja   20    Male  Train1
1      General     Rani   15  Female  Train1
2           AC  Gowtham   45    Male  Train2
3      General     Ajay   39    Male  Train1
4  First Class   Aneesh   40    Male  Train2
5           AC     Maya   25  Female  Train1
6  First Class   Radika   12  Female  Train2
7  First Class    Laxmi   60  Female  Train2
         Class     Name   Train  Cost
0  First Class     Raja  Train1   100
1      General     Rani  Train1    50
2           AC  Gowtham  Train2  1000
3      General     Ajay  Train1    50
4  First Class   Aneesh  Train2   100
5           AC     Maya  Train1  1000
6  First Class   Radika  Train2   100
7  First Class    Laxmi  Train2   100
         Class     Name  Age     Sex   Train  Cost
0  First Class     Raja   20    Male  Train1   100
1      General     Rani   15  Female  Train1    50
2           AC  Gowtham   45    Male  Train2  1000
3      General     Ajay   39    Male  Train1    50
4  First Class   Aneesh   40    Male  Train2   100
5           AC     Maya   25  Female  Train1  1000
6  First Class   Radika   12  Female  Train2   100
7  First Class    Laxmi   60  Female  Train2   100
Class
AC             2000
First Class     400
General         100
Name: Cost, dtype: int64
      Name  Cost
2  Gowtham  1000
5     Maya  1000

<ipython-input-5-cbc10c0e2904>:16: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  print(df3.groupby(['Class'])['Name','Cost'].get_group('AC'))