<a href="https://colab.research.google.com/github/VidhyaKishor27/Pythonbasic/blob/main/Miniproject_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
import numpy as np
from tabulate import tabulate
from google.colab import drive
drive.mount('/content/drive')
eb=pd.read_csv('/content/drive/MyDrive/Python training/Miniproject - python/ebola_data_db_format.csv')
print(eb.head(3))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
                                           Indicator Country        Date  \
0  Cumulative number of confirmed, probable and s...  Guinea  2015-03-10
1         Cumulative number of confirmed Ebola cases  Guinea  2015-03-10
2          Cumulative number of probable Ebola cases  Guinea  2015-03-10

    value
0  3285.0
1  2871.0
2   392.0

1. Distinct # of Indicators in the universe (complete dataset).
Output:
Integer value

In [3]:
unique_indicator=eb['Indicator'].nunique()
print("No. of Distinct Indicators:",unique_indicator)

No. of Distinct Indicators: 36

2. In the second half of the year 2015, how many countries have one or more “Cumulative number of confirmed Ebola cases”
Output:
Integer value

In [33]:
eb['Date']=pd.to_datetime(eb['Date'])
eb['year'] = eb['Date'].dt.year
eb['month'] = eb['Date'].dt.month
filtered_data = eb[(eb['Indicator'] == "Cumulative number of confirmed Ebola cases") & (eb['year'] == 2015) & (eb['month'] > 6)]
country=filtered_data['Country'].nunique()
print("No. of Countries having one or more \" Cumulative no of confirmed Ebola cases\" are:",country)

No. of Countries having one or more " Cumulative no of confirmed Ebola cases" are: 11

3. Top 10 total Ebola cases confirmed. Note that Indicator = Cumulative number of confirmed Ebola cases. Include rank based on the total value (=cases confirmed).
Output:
country, total_value, rank

In [32]:
question3=eb[eb['Indicator']=="Cumulative number of confirmed Ebola cases"]
top10_ebola=question3.groupby(['Country'])['value'].count().to_frame('TotalValue').sort_values(by='TotalValue',ascending=False).reset_index()
top10_ebola['Rank']=top10_ebola['TotalValue'].rank(ascending=False)
print(tabulate(top10_ebola.head(10),headers=['Country','Total Value','Rank'],tablefmt='grid'))

+----+--------------------------+---------------+--------+
|    | Country                  |   Total Value |   Rank |
+====+==========================+===============+========+
|  0 | Guinea                   |           259 |    1.5 |
+----+--------------------------+---------------+--------+
|  1 | Sierra Leone             |           259 |    1.5 |
+----+--------------------------+---------------+--------+
|  2 | Liberia                  |           258 |    3   |
+----+--------------------------+---------------+--------+
|  3 | Nigeria                  |           255 |    4   |
+----+--------------------------+---------------+--------+
|  4 | Senegal                  |           254 |    5   |
+----+--------------------------+---------------+--------+
|  5 | United States of America |           245 |    6   |
+----+--------------------------+---------------+--------+
|  6 | Mali                     |           243 |    7.5 |
+----+--------------------------+---------------+--------+
|  7 | Spain                    |           243 |    7.5 |
+----+--------------------------+---------------+--------+
|  8 | United Kingdom           |           221 |    9   |
+----+--------------------------+---------------+--------+
|  9 | Italy                    |           141 |   10   |
+----+--------------------------+---------------+--------+

4. Top 10 countries that have total cases with Indicator = “Cumulative number of confirmed probable and suspected Ebola deaths” in 2015 Q2 (i.e., April-June 2015).
Output:
country, total_cases, rank

In [31]:
question4= eb[(eb['Indicator'] == "Cumulative number of confirmed, probable and suspected Ebola deaths") & (eb['month'] > 3) & (eb['month'] > 7)]
Q2_eboladeath=question4.groupby(['Country'])['value'].count().to_frame('TotalCases').sort_values(by='TotalCases',ascending=False).reset_index()
Q2_eboladeath['Rank']=Q2_eboladeath['TotalCases'].rank(ascending=False)
print(tabulate(Q2_eboladeath.head(10),headers=['Country','Total Cases','Rank'],tablefmt='grid'))

+----+--------------------------+---------------+--------+
|    | Country                  |   Total Cases |   Rank |
+====+==========================+===============+========+
|  0 | Guinea                   |           121 |    2.5 |
+----+--------------------------+---------------+--------+
|  1 | Liberia                  |           121 |    2.5 |
+----+--------------------------+---------------+--------+
|  2 | Nigeria                  |           121 |    2.5 |
+----+--------------------------+---------------+--------+
|  3 | Sierra Leone             |           121 |    2.5 |
+----+--------------------------+---------------+--------+
|  4 | Senegal                  |           120 |    5   |
+----+--------------------------+---------------+--------+
|  5 | United States of America |           111 |    6   |
+----+--------------------------+---------------+--------+
|  6 | Spain                    |           109 |    7   |
+----+--------------------------+---------------+--------+
|  7 | Mali                     |           105 |    8   |
+----+--------------------------+---------------+--------+
|  8 | Italy                    |            83 |   10   |
+----+--------------------------+---------------+--------+
|  9 | Liberia 2                |            83 |   10   |
+----+--------------------------+---------------+--------+

5. Top 10 countries that have total cases with Indicator = “Cumulative number of confirmed probable and suspected Ebola deaths” with only even months of the year 2015 (i.e., months 2, 4, 6, 8, 10, 12).
Output:
country, total_cases, rank

In [35]:
filtered_2015=eb[eb['year']==2015]
filtered_2015['month category']=['Odd' if month%2 !=0 else 'Even' for month in filtered_2015['month']]
evenmonth=filtered_2015[(filtered_2015['month category'] == 'Even') & (filtered_2015['Indicator']=='Cumulative number of confirmed, probable and suspected Ebola deaths')]
top10_que5=evenmonth.groupby(['Country'])['value'].count().to_frame('TotalCases').sort_values(by='TotalCases',ascending=False).reset_index()
top10_que5['Rank']=top10_que5['TotalCases'].rank(ascending=False)
print(tabulate(top10_que5.head(10),headers=['Country','Total Cases','Rank'],tablefmt='grid'))

+----+--------------------------+---------------+--------+
|    | Country                  |   Total Cases |   Rank |
+====+==========================+===============+========+
|  0 | Guinea                   |           105 |      5 |
+----+--------------------------+---------------+--------+
|  1 | Liberia                  |           105 |      5 |
+----+--------------------------+---------------+--------+
|  2 | Mali                     |           105 |      5 |
+----+--------------------------+---------------+--------+
|  3 | Nigeria                  |           105 |      5 |
+----+--------------------------+---------------+--------+
|  4 | Senegal                  |           105 |      5 |
+----+--------------------------+---------------+--------+
|  5 | Sierra Leone             |           105 |      5 |
+----+--------------------------+---------------+--------+
|  6 | Spain                    |           105 |      5 |
+----+--------------------------+---------------+--------+
|  7 | United Kingdom           |           105 |      5 |
+----+--------------------------+---------------+--------+
|  8 | United States of America |           105 |      5 |
+----+--------------------------+---------------+--------+
|  9 | Italy                    |            72 |     10 |
+----+--------------------------+---------------+--------+

<ipython-input-35-7fdab2279dd7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_2015['month category']=['Odd' if month%2 !=0 else 'Even' for month in filtered_2015['month']]