<a href="https://colab.research.google.com/github/VidhyaKishor27/Pythonbasic/blob/main/Miniproject_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from tabulate import tabulate
from google.colab import drive
drive.mount('/content/drive')
eb=pd.read_csv('/content/drive/MyDrive/Python training/Miniproject - python/ebola_data_db_format.csv')
print(eb.head(3))

Mounted at /content/drive
                                           Indicator Country        Date  \
0  Cumulative number of confirmed, probable and s...  Guinea  2015-03-10
1         Cumulative number of confirmed Ebola cases  Guinea  2015-03-10
2          Cumulative number of probable Ebola cases  Guinea  2015-03-10

    value
0  3285.0
1  2871.0
2   392.0

1. Distinct # of Indicators in the universe (complete dataset).
Output:
Integer value

In [ ]:
unique_indicator=eb['Indicator'].nunique()
print("No. of Distinct Indicators:",unique_indicator)

No. of Distinct Indicators: 36

2. In the second half of the year 2015, how many countries have one or more “Cumulative number of confirmed Ebola cases”
Output:
Integer value

In [17]:
eb['Date']=pd.to_datetime(eb['Date'])
eb['year'] = eb['Date'].dt.year
eb['month'] = eb['Date'].dt.month
#print(eb.head(3))
filtered_2015=eb.where(eb['year']==2015,inplace=False)
print(filtered_2015)
month_2015=filtered_2015.where(filtered_2015['month'] > 6,inplace=False)
question2=month_2015.where(month_2015['Indicator']=="Cumulative number of confirmed Ebola cases",inplace=False)
country=question2['Country'].nunique()
print("No. of Countries having one or more \' Cumulative no. of confirmed Ebola cases\':",country)

                                               Indicator Country       Date  \
0      Cumulative number of confirmed, probable and s...  Guinea 2015-03-10
1             Cumulative number of confirmed Ebola cases  Guinea 2015-03-10
2              Cumulative number of probable Ebola cases  Guinea 2015-03-10
3             Cumulative number of suspected Ebola cases  Guinea 2015-03-10
4      Cumulative number of confirmed, probable and s...  Guinea 2015-03-10
...                                                  ...     ...        ...
17580                                                NaN     NaN        NaT
17581                                                NaN     NaN        NaT
17582                                                NaN     NaN        NaT
17583                                                NaN     NaN        NaT
17584                                                NaN     NaN        NaT

        value    year  month
0      3285.0  2015.0    3.0
1      2871.0  2015.0    3.0
2       392.0  2015.0    3.0
3        22.0  2015.0    3.0
4      2170.0  2015.0    3.0
...       ...     ...    ...
17580     NaN     NaN    NaN
17581     NaN     NaN    NaN
17582     NaN     NaN    NaN
17583     NaN     NaN    NaN
17584     NaN     NaN    NaN

[17585 rows x 6 columns]
No. of Countries having one or more ' Cumulative no. of confirmed Ebola cases': 11

3. Top 10 total Ebola cases confirmed. Note that Indicator = Cumulative number of confirmed Ebola cases. Include rank based on the total value (=cases confirmed).
Output:
country, total_value, rank

In [7]:
question3=eb.where(eb['Indicator']=="Cumulative number of confirmed Ebola cases",inplace=False)
top10_ebola=question3.groupby(['Country'])['value'].sum().to_frame('TotalValue').sort_values(by='TotalValue',ascending=False).reset_index()
top10_ebola['Rank']=top10_ebola['TotalValue'].rank(ascending=False)
print(tabulate(top10_ebola.head(10),headers=['Country','Total Value','Rank'],tablefmt='grid'))

+----+--------------------------+------------------+--------+
|    | Country                  |      Total Value |   Rank |
+====+==========================+==================+========+
|  0 | Sierra Leone             |      2.04187e+06 |      1 |
+----+--------------------------+------------------+--------+
|  1 | Liberia                  | 768079           |      2 |
+----+--------------------------+------------------+--------+
|  2 | Guinea                   | 749622           |      3 |
+----+--------------------------+------------------+--------+
|  3 | Nigeria                  |   4840           |      4 |
+----+--------------------------+------------------+--------+
|  4 | Mali                     |   1658           |      5 |
+----+--------------------------+------------------+--------+
|  5 | United States of America |    967           |      6 |
+----+--------------------------+------------------+--------+
|  6 | Liberia 2                |    657           |      7 |
+----+--------------------------+------------------+--------+
|  7 | Senegal                  |    254           |      8 |
+----+--------------------------+------------------+--------+
|  8 | Spain                    |    243           |      9 |
+----+--------------------------+------------------+--------+
|  9 | United Kingdom           |    221           |     10 |
+----+--------------------------+------------------+--------+

4. Top 10 countries that have total cases with Indicator = “Cumulative number of confirmed probable and suspected Ebola deaths” in 2015 Q2 (i.e., April-June 2015).
Output:
country, total_cases, rank

In [22]:
#cond1=filtered_2015['month'] > 3
#cond2=filtered_2015['month'] < 7
Q2_2015=filtered_2015.where((filtered_2015['month'] > 3) & (filtered_2015['month'] < 7),inplace=False)
question4=Q2_2015.where(Q2_2015['Indicator']=="Cumulative number of confirmed probable and suspected Ebola deaths",inplace=False)
Q2_eboladeath=question4.groupby(['Country'])['value'].sum().to_frame('TotalCases').sort_values(by='TotalCases',ascending=False).reset_index()
Q2_eboladeath['Rank']=Q2_eboladeath['TotalCases'].rank(ascending=False)
print(tabulate(Q2_eboladeath.head(10),headers=['Country','Total Cases','Rank'],tablefmt='grid'))
#print(Q2_eboladeath)

+-----------+---------------+--------+
| Country   | Total Cases   | Rank   |
+===========+===============+========+
+-----------+---------------+--------+