<a href="https://colab.research.google.com/github/VidhyaKishor27/Pythonbasic/blob/main/Miniproject_3_HR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
from tabulate import tabulate
from google.colab import drive
drive.mount('/content/drive')
hr=pd.read_csv('/content/drive/MyDrive/Python training/Miniproject - python/HR_comma_sep.csv')
print(hr.head(5))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   satisfaction_level  last_evaluation  number_project  average_montly_hours  \
0                0.38             0.53               2                   157
1                0.80             0.86               5                   262
2                0.11             0.88               7                   272
3                0.72             0.87               5                   223
4                0.37             0.52               2                   159

   time_spend_company  Work_accident  left  promotion_last_5years  sales  \
0                   3              0     1                      0  sales
1                   6              0     1                      0  sales
2                   4              0     1                      0  sales
3                   5              0     1                      0  sales
4                   3              0     1                      0  sales

   salary
0     low
1  medium
2  medium
3     low
4     low

1. How many employees in each of the department (use column "sales")
Output: sales,num_employees

In [14]:
no_of_emp=hr.groupby(['sales']).size().to_frame('No. of Employees')\
  .sort_values(by='No. of Employees',ascending=True).reset_index()
print(tabulate(no_of_emp,headers=['Sales','No. of Employees'],tablefmt='grid'))

+----+-------------+--------------------+
|    | Sales       |   No. of Employees |
+====+=============+====================+
|  0 | management  |                630 |
+----+-------------+--------------------+
|  1 | hr          |                739 |
+----+-------------+--------------------+
|  2 | accounting  |                767 |
+----+-------------+--------------------+
|  3 | RandD       |                787 |
+----+-------------+--------------------+
|  4 | marketing   |                858 |
+----+-------------+--------------------+
|  5 | product_mng |                902 |
+----+-------------+--------------------+
|  6 | IT          |               1227 |
+----+-------------+--------------------+
|  7 | support     |               2229 |
+----+-------------+--------------------+
|  8 | technical   |               2720 |
+----+-------------+--------------------+
|  9 | sales       |               4140 |
+----+-------------+--------------------+