<a href="https://colab.research.google.com/github/VidhyaKishor27/Pythonbasic/blob/main/Miniproject_4_Airports.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
from tabulate import tabulate
from datetime import datetime
from google.colab import drive
drive.mount('/content/drive')
ap2=pd.read_csv('/content/drive/MyDrive/Python training/Miniproject - python/Airports2.csv')
ap2['Fly_date']=pd.to_datetime(ap2['Fly_date']) #to_datetime() method converts string to datetime obj
ap2['year']=ap2['Fly_date'].dt.year
print(ap2.head(3))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
  Origin_airport Destination_airport    Origin_city Destination_city  \
0            MHK                 AMW  Manhattan, KS         Ames, IA
1            EUG                 RDM     Eugene, OR         Bend, OR
2            EUG                 RDM     Eugene, OR         Bend, OR

   Passengers  Seats  Flights  Distance   Fly_date  Origin_population  \
0          21     30        1       254 2008-10-01             122049
1          41    396       22       103 1990-11-01             284093
2          88    342       19       103 1990-12-01             284093

   Destination_population  Org_airport_lat  Org_airport_long  \
0                   86219        39.140999        -96.670799
1                   76034        44.124599       -123.211998
2                   76034        44.124599       -123.211998

   Dest_airport_lat  Dest_airport_long  year
0               NaN                NaN  2008
1         44.254101        -121.150002  1990
2         44.254101        -121.150002  1990

Part  2:
1. In the year 2009, print Top 10 cities in the USA that received maximum # inbound flights.
Output:
city,total_inbound_flights,rank

In [14]:
filteredyr=ap2.where(ap2['year']==2009, inplace=False)
inbound=filteredyr.groupby('Destination_city')['Flights'].sum().to_frame('TotalFlights')\
  .reset_index().sort_values(by='TotalFlights',ascending=False)
inbound['rank']=inbound['TotalFlights'].rank(ascending=False)
inbound.columns=['City','Total Destination Flights','Rank']
print(inbound.nlargest(10,'Total Destination Flights'))

                 City  Total Destination Flights  Rank
74        Chicago, IL                   417297.0   1.0
21        Atlanta, GA                   396603.0   2.0
93         Dallas, TX                   316265.0   3.0
263      New York, NY                   278206.0   4.0
167       Houston, TX                   250030.0   5.0
389    Washington, DC                   238744.0   6.0
70      Charlotte, NC                   199700.0   7.0
224   Los Angeles, CA                   192676.0   8.0
98        Detroit, MI                   183655.0   9.0
286  Philadelphia, PA                   181645.0  10.0

2.In the year 2009, print Top 10 cities in the USA that received maximum # outbound flights.
Output:
city,total_outbound_flights,rank

In [15]:
outbound=filteredyr.groupby('Origin_city')['Flights'].sum().to_frame('TotalFlights')\
  .reset_index().sort_values(by='TotalFlights',ascending=False)
outbound['rank']=outbound['TotalFlights'].rank(ascending=False)
outbound.columns=['City','Total Origin Flights','Rank']
print(outbound.nlargest(10,'Total Origin Flights'))

                 City  Total Origin Flights  Rank
74        Chicago, IL              416742.0   1.0
21        Atlanta, GA              397112.0   2.0
92         Dallas, TX              316739.0   3.0
261      New York, NY              278351.0   4.0
166       Houston, TX              249285.0   5.0
388    Washington, DC              238958.0   6.0
70      Charlotte, NC              200403.0   7.0
222   Los Angeles, CA              193248.0   8.0
97        Detroit, MI              184087.0   9.0
285  Philadelphia, PA              181575.0  10.0