<a href="https://colab.research.google.com/github/VidhyaKishor27/Pythonbasic/blob/main/Miniproject_3_HR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from tabulate import tabulate
from google.colab import drive
drive.mount('/content/drive')
hr=pd.read_csv('/content/drive/MyDrive/Python training/Miniproject - python/HR_comma_sep.csv')
print(hr.head(5))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   satisfaction_level  last_evaluation  number_project  average_montly_hours  \
0                0.38             0.53               2                   157
1                0.80             0.86               5                   262
2                0.11             0.88               7                   272
3                0.72             0.87               5                   223
4                0.37             0.52               2                   159

   time_spend_company  Work_accident  left  promotion_last_5years  sales  \
0                   3              0     1                      0  sales
1                   6              0     1                      0  sales
2                   4              0     1                      0  sales
3                   5              0     1                      0  sales
4                   3              0     1                      0  sales

   salary
0     low
1  medium
2  medium
3     low
4     low

1. How many employees in each of the department (use column "sales")
Output: sales,num_employees

In [ ]:
no_of_emp=hr.groupby(['sales']).size().to_frame('No. of Employees')\
  .sort_values(by='No. of Employees',ascending=True).reset_index()
print(tabulate(no_of_emp,headers=['Sales','No. of Employees'],tablefmt='grid'))

+----+-------------+--------------------+
|    | Sales       |   No. of Employees |
+====+=============+====================+
|  0 | management  |                630 |
+----+-------------+--------------------+
|  1 | hr          |                739 |
+----+-------------+--------------------+
|  2 | accounting  |                767 |
+----+-------------+--------------------+
|  3 | RandD       |                787 |
+----+-------------+--------------------+
|  4 | marketing   |                858 |
+----+-------------+--------------------+
|  5 | product_mng |                902 |
+----+-------------+--------------------+
|  6 | IT          |               1227 |
+----+-------------+--------------------+
|  7 | support     |               2229 |
+----+-------------+--------------------+
|  8 | technical   |               2720 |
+----+-------------+--------------------+
|  9 | sales       |               4140 |
+----+-------------+--------------------+

2. Among employees who left, get the department wise (use column "sales"), number of employees and rank them.
Output:
sales,num_employees,rank

In [ ]:
hr_left=hr.where(hr['left']==1,inplace=False)
emp_left=hr_left.groupby(['sales']).size().to_frame('No. of Employees')\
  .sort_values(by='No. of Employees',ascending=False).reset_index()
emp_left['Rank']=emp_left['No. of Employees'].rank(ascending=False)
print(tabulate(emp_left,headers=['Sales','No. of Employees','Rank'],tablefmt='grid'))

+----+-------------+--------------------+--------+
|    | Sales       |   No. of Employees |   Rank |
+====+=============+====================+========+
|  0 | sales       |               1014 |      1 |
+----+-------------+--------------------+--------+
|  1 | technical   |                697 |      2 |
+----+-------------+--------------------+--------+
|  2 | support     |                555 |      3 |
+----+-------------+--------------------+--------+
|  3 | IT          |                273 |      4 |
+----+-------------+--------------------+--------+
|  4 | hr          |                215 |      5 |
+----+-------------+--------------------+--------+
|  5 | accounting  |                204 |      6 |
+----+-------------+--------------------+--------+
|  6 | marketing   |                203 |      7 |
+----+-------------+--------------------+--------+
|  7 | product_mng |                198 |      8 |
+----+-------------+--------------------+--------+
|  8 | RandD       |                121 |      9 |
+----+-------------+--------------------+--------+
|  9 | management  |                 91 |     10 |
+----+-------------+--------------------+--------+

3.Average number of years (time_spend_company) and average number of monthly hours (average_monthly_hours) for the employees left and not left under each department. Sort the value by sales.
Output:
left,sales,avg_time_spend_company,avg_average_monthly_hours

In [16]:
avg=hr.groupby(by=['left','sales']).aggregate({"average_montly_hours":'mean',"time_spend_company":'mean'})
print(avg)

                  average_montly_hours  time_spend_company
left sales
0    IT                     198.886792            3.356394
     RandD                  198.951952            3.252252
     accounting             199.037300            3.424512
     hr                     199.250000            3.192748
     management             200.233766            4.395176
     marketing              198.888550            3.480916
     product_mng            197.765625            3.330966
     sales                  199.571657            3.443698
     support                199.140980            3.213859
     technical              198.471083            3.222442
1    IT                     213.849817            3.860806
     RandD                  210.975207            4.000000
     accounting             207.029412            3.794118
     hr                     197.306977            3.753488
     management             207.263736            3.758242
     marketing              200.990148            3.857143
     product_mng            207.787879            3.989899
     sales                  205.041420            3.812623
     support                205.636036            3.933333
     technical              214.183644            3.959828