<a href="https://colab.research.google.com/github/VidhyaKishor27/Pythonbasic/blob/main/Miniproject_5_Forest_Fire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1: Reading files

In [5]:
import pandas as pd
import numpy as np
from tabulate import tabulate
from google.colab import drive
drive.mount('/content/drive')
ff=pd.read_csv('/content/drive/MyDrive/Python training/Miniproject - python/forestfires.csv')
print(ff.head(3))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0

1. Top 10 maximum burnt area happened on which month.
Output:
month,area

In [18]:
top_10_burntarea=ff.groupby('month')['area'].max().reset_index()
#burnt_area=top_10_burntarea.nlargest(10)
top_10_burntarea.columns=['Month','Area']
print(tabulate(top_10_burntarea.nlargest(10,'Area'),headers=['Month','Area'],tablefmt='grid'))

+----+---------+---------+
|    | Month   |    Area |
+====+=========+=========+
| 11 | sep     | 1090.84 |
+----+---------+---------+
|  1 | aug     |  746.28 |
+----+---------+---------+
|  5 | jul     |  278.53 |
+----+---------+---------+
|  6 | jun     |   70.32 |
+----+---------+---------+
|  0 | apr     |   61.13 |
+----+---------+---------+
|  3 | feb     |   51.78 |
+----+---------+---------+
| 10 | oct     |   49.37 |
+----+---------+---------+
|  8 | may     |   38.48 |
+----+---------+---------+
|  7 | mar     |   36.85 |
+----+---------+---------+
|  2 | dec     |   24.77 |
+----+---------+---------+

2. Highest temperature and lowest temperature for each month.
Output:
month,highest_temp, lowest_temp

In [23]:
temperature=ff.groupby(by=['month']).aggregate({"temp":['max','min']})
print(temperature)

       temp
        max   min
month
apr    17.6   5.8
aug    33.3   5.1
dec     5.1   2.2
feb    15.7   4.2
jan     5.3   5.2
jul    30.2  12.6
jun    28.0  10.6
mar    18.8   5.3
may    18.0  11.3
nov    11.8  11.8
oct    21.7  11.3
sep    30.2   9.8