<a href="https://colab.research.google.com/github/VidhyaKishor27/Pythonbasic/blob/main/Miniproject_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import glob
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/Python MiniProjects/Miniproject 7'
csv_files = glob.glob(path + "/*.csv")
df_list = [pd.read_csv(file) for file in csv_files]
big_df=pd.concat(df_list,ignore_index=True)
print(big_df.head(3))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
            Type                       Date Part of a policing operation  \
0  Person search  2019-07-01T00:02:43+00:00                        False
1  Person search  2019-07-01T00:39:19+00:00                        False
2  Person search  2019-07-01T01:11:57+00:00                        False

   Policing operation   Latitude  Longitude Gender Age range  \
0                 NaN  52.390821  -2.169897   Male   over 34
1                 NaN  52.365964  -2.192521   Male     25-34
2                 NaN  52.111560  -1.919568   Male     10-17

                              Self-defined ethnicity  \
0  White - English/Welsh/Scottish/Northern Irish/...
1        Other ethnic group - Any other ethnic group
2  White - English/Welsh/Scottish/Northern Irish/...

  Officer-defined ethnicity  ... Month Reported by Falls within Location  \
0                     White  ...   NaN         NaN          NaN      NaN
1                     Other  ...   NaN         NaN          NaN      NaN
2                     White  ...   NaN         NaN          NaN      NaN

  LSOA code LSOA name Outcome type Crime type Last outcome category Context
0       NaN       NaN          NaN        NaN                   NaN     NaN
1       NaN       NaN          NaN        NaN                   NaN     NaN
2       NaN       NaN          NaN        NaN                   NaN     NaN

[3 rows x 26 columns]

Part 1 Questions:
1. Top 10 Type by # events. Type column is the event (see sample data in the end of this document ).
Output:
type, num_events, rank

In [12]:
from tabulate import tabulate
import numpy as np
top10_type=big_df.groupby(['Type'])['Type'].size().to_frame('Num_Event').sort_values(by='Num_Event', ascending=False).reset_index()
top10_type['Rank']=top10_type['Num_Event'].rank(ascending=False)
print(top10_type)
df1=big_df.to_csv()

                        Type  Num_Event  Rank
0              Person search      17275   1.0
1  Person and Vehicle search       4555   2.0
2             Vehicle search        596   3.0

2. Top 10 Ethnics by # events. Use column “Officer-defined ethnicity”
Output:
type, office_num_events, office_ethnic_rank

In [17]:
top10_ethnics=big_df.groupby(['Type','Officer-defined ethnicity'])['Officer-defined ethnicity'].count().to_frame('Num_Event').sort_values(by='Num_Event',ascending=False).reset_index()
top10_ethnics['Rank']=top10_ethnics['Num_Event'].rank(ascending=False)
print(top10_ethnics.head(10))

                        Type Officer-defined ethnicity  Num_Event  Rank
0              Person search                     White      12172   1.0
1  Person and Vehicle search                     White       2970   2.0
2              Person search                     Black       1389   3.0
3              Person search                     Asian       1193   4.0
4  Person and Vehicle search                     Asian        663   5.0
5  Person and Vehicle search                     Black        494   6.0
6              Person search                     Other        317   7.0
7              Person search                     Mixed         95   8.0
8  Person and Vehicle search                     Other         93   9.0
9             Vehicle search                     White         65  10.0

3. Top 10 Ethnics by # events. Use column “Self-defined ethnicity”
Output:
type, self_num_events, self_ethnic_rank

In [18]:
top10_self=big_df.groupby(['Type','Self-defined ethnicity'])['Self-defined ethnicity'].count().to_frame('Num_Event').sort_values(by='Num_Event',ascending=False).reset_index()
top10_self['Rank']=top10_ethnics['Num_Event'].rank(ascending=False)
print(tabulate(top10_self.head(10),headers=['Type','Self-defined ethnicity','No. of Events','Rank'],tablefmt='grid'))

+----+---------------------------+--------------------------------------------------------------------------------------+-----------------+--------+
|    | Type                      | Self-defined ethnicity                                                               |   No. of Events |   Rank |
+====+===========================+======================================================================================+=================+========+
|  0 | Person search             | White - English/Welsh/Scottish/Northern Irish/British                                |           11049 |      1 |
+----+---------------------------+--------------------------------------------------------------------------------------+-----------------+--------+
|  1 | Person and Vehicle search | White - English/Welsh/Scottish/Northern Irish/British                                |            2580 |      2 |
+----+---------------------------+--------------------------------------------------------------------------------------+-----------------+--------+
|  2 | Person search             | Other ethnic group - Not stated                                                      |            2003 |      3 |
+----+---------------------------+--------------------------------------------------------------------------------------+-----------------+--------+
|  3 | Person search             | White - Any other White background                                                   |             725 |      4 |
+----+---------------------------+--------------------------------------------------------------------------------------+-----------------+--------+
|  4 | Person search             | Asian/Asian British - Pakistani                                                      |             534 |      5 |
+----+---------------------------+--------------------------------------------------------------------------------------+-----------------+--------+
|  5 | Person and Vehicle search | Other ethnic group - Not stated                                                      |             487 |      6 |
+----+---------------------------+--------------------------------------------------------------------------------------+-----------------+--------+
|  6 | Person search             | Black/African/Caribbean/Black British - African                                      |             464 |      7 |
+----+---------------------------+--------------------------------------------------------------------------------------+-----------------+--------+
|  7 | Person search             | Black/African/Caribbean/Black British - Caribbean                                    |             394 |      8 |
+----+---------------------------+--------------------------------------------------------------------------------------+-----------------+--------+
|  8 | Person search             | Black/African/Caribbean/Black British - Any other Black/African/Caribbean background |             366 |      9 |
+----+---------------------------+--------------------------------------------------------------------------------------+-----------------+--------+
|  9 | Person and Vehicle search | Asian/Asian British - Pakistani                                                      |             347 |     10 |
+----+---------------------------+--------------------------------------------------------------------------------------+-----------------+--------+

4. Merge 2 and 3 above on type.
Output:
type, office_num_events, office_ethnic_rank, self_num_events, self_ethnic_rank

In [21]:
merged_df=top10_ethnics.merge(top10_self,on='Type',how='inner')
print(tabulate(merged_df.head(10),headers=['Type','Officer-defined ethnicity','Office_Num_Event','Office_Rank','Self-defined ethnicity','Self_Num_Events','Self_Rank'],tablefmt='grid'))

+----+---------------+-----------------------------+--------------------+---------------+--------------------------------------------------------------------------------------+-------------------+-------------+
|    | Type          | Officer-defined ethnicity   |   Office_Num_Event |   Office_Rank | Self-defined ethnicity                                                               |   Self_Num_Events |   Self_Rank |
+====+===============+=============================+====================+===============+======================================================================================+===================+=============+
|  0 | Person search | White                       |              12172 |             1 | White - English/Welsh/Scottish/Northern Irish/British                                |             11049 |           1 |
+----+---------------+-----------------------------+--------------------+---------------+--------------------------------------------------------------------------------------+-------------------+-------------+
|  1 | Person search | White                       |              12172 |             1 | Other ethnic group - Not stated                                                      |              2003 |           3 |
+----+---------------+-----------------------------+--------------------+---------------+--------------------------------------------------------------------------------------+-------------------+-------------+
|  2 | Person search | White                       |              12172 |             1 | White - Any other White background                                                   |               725 |           4 |
+----+---------------+-----------------------------+--------------------+---------------+--------------------------------------------------------------------------------------+-------------------+-------------+
|  3 | Person search | White                       |              12172 |             1 | Asian/Asian British - Pakistani                                                      |               534 |           5 |
+----+---------------+-----------------------------+--------------------+---------------+--------------------------------------------------------------------------------------+-------------------+-------------+
|  4 | Person search | White                       |              12172 |             1 | Black/African/Caribbean/Black British - African                                      |               464 |           7 |
+----+---------------+-----------------------------+--------------------+---------------+--------------------------------------------------------------------------------------+-------------------+-------------+
|  5 | Person search | White                       |              12172 |             1 | Black/African/Caribbean/Black British - Caribbean                                    |               394 |           8 |
+----+---------------+-----------------------------+--------------------+---------------+--------------------------------------------------------------------------------------+-------------------+-------------+
|  6 | Person search | White                       |              12172 |             1 | Black/African/Caribbean/Black British - Any other Black/African/Caribbean background |               366 |           9 |
+----+---------------+-----------------------------+--------------------+---------------+--------------------------------------------------------------------------------------+-------------------+-------------+
|  7 | Person search | White                       |              12172 |             1 | Asian/Asian British - Any other Asian background                                     |               293 |          11 |
+----+---------------+-----------------------------+--------------------+---------------+--------------------------------------------------------------------------------------+-------------------+-------------+
|  8 | Person search | White                       |              12172 |             1 | Mixed/Multiple ethnic groups - Any other Mixed/Multiple ethnic background            |               182 |          13 |
+----+---------------+-----------------------------+--------------------+---------------+--------------------------------------------------------------------------------------+-------------------+-------------+
|  9 | Person search | White                       |              12172 |             1 | Mixed/Multiple ethnic groups - White and Black Caribbean                             |               175 |          14 |
+----+---------------+-----------------------------+--------------------+---------------+--------------------------------------------------------------------------------------+-------------------+-------------+

5. Top 10 Type by Gender = Male.
Output:
type, num_events_men, rank_men