<a href="https://colab.research.google.com/github/VidhyaKishor27/Pythonbasic/blob/main/Miniproject_4_Airports.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from tabulate import tabulate
from datetime import datetime
from google.colab import drive
drive.mount('/content/drive')
ap2=pd.read_csv('/content/drive/MyDrive/Python training/Miniproject - python/Airports2.csv')
ap2['Fly_date']=pd.to_datetime(ap2['Fly_date']) #to_datetime() method converts string to datetime obj
ap2['year']=ap2['Fly_date'].dt.year
print(ap2.head(3))

Mounted at /content/drive
  Origin_airport Destination_airport    Origin_city Destination_city  \
0            MHK                 AMW  Manhattan, KS         Ames, IA
1            EUG                 RDM     Eugene, OR         Bend, OR
2            EUG                 RDM     Eugene, OR         Bend, OR

   Passengers  Seats  Flights  Distance   Fly_date  Origin_population  \
0          21     30        1       254 2008-10-01             122049
1          41    396       22       103 1990-11-01             284093
2          88    342       19       103 1990-12-01             284093

   Destination_population  Org_airport_lat  Org_airport_long  \
0                   86219        39.140999        -96.670799
1                   76034        44.124599       -123.211998
2                   76034        44.124599       -123.211998

   Dest_airport_lat  Dest_airport_long  year
0               NaN                NaN  2008
1         44.254101        -121.150002  1990
2         44.254101        -121.150002  1990

Part  2:
1. In the year 2009, print Top 10 cities in the USA that received maximum # inbound flights.
Output:
city,total_inbound_flights,rank

In [ ]:
filteredyr=ap2.where(ap2['year']==2009, inplace=False)
inbound=filteredyr.groupby('Destination_city')['Flights'].sum().to_frame('TotalFlights')\
  .reset_index().sort_values(by='TotalFlights',ascending=False)
inbound['rank']=inbound['TotalFlights'].rank(ascending=False)
inbound.columns=['City','Total Destination Flights','Rank']
print(inbound.nlargest(10,'Total Destination Flights'))

                 City  Total Destination Flights  Rank
74        Chicago, IL                   417297.0   1.0
21        Atlanta, GA                   396603.0   2.0
93         Dallas, TX                   316265.0   3.0
263      New York, NY                   278206.0   4.0
167       Houston, TX                   250030.0   5.0
389    Washington, DC                   238744.0   6.0
70      Charlotte, NC                   199700.0   7.0
224   Los Angeles, CA                   192676.0   8.0
98        Detroit, MI                   183655.0   9.0
286  Philadelphia, PA                   181645.0  10.0

2.In the year 2009, print Top 10 cities in the USA that received maximum # outbound flights.
Output:
city,total_outbound_flights,rank

In [ ]:
outbound=filteredyr.groupby('Origin_city')['Flights'].sum().to_frame('TotalFlights')\
  .reset_index().sort_values(by='TotalFlights',ascending=False)
outbound['rank']=outbound['TotalFlights'].rank(ascending=False)
outbound.columns=['City','Total Origin Flights','Rank']
print(outbound.nlargest(10,'Total Origin Flights'))

                 City  Total Origin Flights  Rank
74        Chicago, IL              416742.0   1.0
21        Atlanta, GA              397112.0   2.0
92         Dallas, TX              316739.0   3.0
261      New York, NY              278351.0   4.0
166       Houston, TX              249285.0   5.0
388    Washington, DC              238958.0   6.0
70      Charlotte, NC              200403.0   7.0
222   Los Angeles, CA              193248.0   8.0
97        Detroit, MI              184087.0   9.0
285  Philadelphia, PA              181575.0  10.0

3. In between 1999-2009, print Top 10 cities in the USA that received maximum # outbound flights.
Output:
city,total_outbound_flights, rank

In [4]:
yr99_09=ap2[ap2['year'].between(1999,2009)]
out99_09=yr99_09.groupby('Origin_city')['Flights'].sum().to_frame('TotalFlights')\
  .reset_index().sort_values(by='TotalFlights',ascending=False)
out99_09['rank']=out99_09['TotalFlights'].rank(ascending=False)
out99_09.columns=['Origin City','Total Outbound Flights','Rank']
print(out99_09.nlargest(10,'Total Outbound Flights'))

         Origin City  Total Outbound Flights  Rank
93       Chicago, IL                 4997322   1.0
28       Atlanta, GA                 4177480   2.0
115       Dallas, TX                 3938032   3.0
217      Houston, TX                 2750620   4.0
342     New York, NY                 2750398   5.0
509   Washington, DC                 2432099   6.0
286  Los Angeles, CA                 2412159   7.0
125      Detroit, MI                 2215283   8.0
313  Minneapolis, MN                 2080578   9.0
371      Phoenix, AZ                 1983949  10.0

4. In between 1999-2009, the Top 10 cities in the USA carry the maximum total # of passengers on outbound flights. The city column in the output will also have its state (For example San Francisco, CA).
Output:
city,total_num_passengers,rank

In [6]:
pass99_09=yr99_09.groupby('Origin_city')['Passengers'].sum().to_frame('TotalPassengers')\
  .sort_values(by='TotalPassengers',ascending=False).reset_index()
pass99_09['rank']=pass99_09['TotalPassengers'].rank(ascending=False)
pass99_09.columns=['Origin City','Total No. of Passengers','Rank']
print(pass99_09.nlargest(10,'Total No. of Passengers'))

       Origin City  Total No. of Passengers  Rank
0      Chicago, IL                381908565   1.0
1      Atlanta, GA                368972910   2.0
2       Dallas, TX                294826498   3.0
3  Los Angeles, CA                223950429   4.0
4     New York, NY                209454427   5.0
5      Houston, TX                199031920   6.0
6      Phoenix, AZ                186032113   7.0
7    Las Vegas, NV                184877669   8.0
8  Minneapolis, MN                155881721   9.0
9   Washington, DC                155604229  10.0

5.In the years 2007 and 2009 together, the Top 10 states in the USA carry the maximum total # of passengers on the outbound flights.
Output:
state,total_num_passengers,rank

In [3]:
yr07_09=ap2[ap2['year'].isin([2007,2009])]
nop=yr07_09.groupby('Origin_city')['Passengers'].sum().to_frame('TotalPassengers')\
  .sort_values(by='TotalPassengers',ascending=False).reset_index()
nop['rank']=nop['TotalPassengers'].rank(ascending=False)
nop.columns=['Origin City','Total No of Passengers','Rank']
print(nop.nlargest(10,'Total No of Passengers'))

       Origin City  Total No of Passengers  Rank
0      Chicago, IL                69706056   1.0
1      Atlanta, GA                69454003   2.0
2       Dallas, TX                55229445   3.0
3     New York, NY                43328550   4.0
4  Los Angeles, CA                39905708   5.0
5      Houston, TX                38633317   6.0
6    Las Vegas, NV                36404901   7.0
7      Phoenix, AZ                34988199   8.0
8   Washington, DC                32317957   9.0
9    Charlotte, NC                29420705  10.0