<a href="https://colab.research.google.com/github/VidhyaKishor27/Pythonbasic/blob/main/Pandas_Dataframe_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Dataframe-Selection process from file
import pandas as pd
df=pd.read_excel('/content/drive/MyDrive/Python training/Passenger data (1).xlsx')
print(df)
print(df.columns)
print(df.shape)
age=df['Age']
print(age)
#print(df.loc[0,['Passengar Name','Destination']])
#print((df['Sex']=="Female") & (df['Age']>=80) ) # returns only boolean result for all values
#if need exact filtered value use loc()
print(df.loc[(df.Sex=="Male")&(df.Age==80)])

    Ticket No Passengar Name  Age     Sex Boarded from Destination  \
0         100            PN1   69    Male          MAS        PDKT
1         101            PN2   65  Female          MAS        PDKT
2         102            PN3   68    Male         PDKT         MAS
3         103            PN4   70    Male         PDKT         MAS
4         104            PN5   70    Male          MAS        PDKT
5         105            PN6   47  Female         PDKT         MAS
6         106            PN7   53  Female         PDKT         MAS
7         107            PN8   44    Male          MAS        PDKT
8         108            PN9   34  Female         PDKT         MAS
9         109           PN10   38    Male         PDKT         MAS
10        110           PN11   51  Female          MAS        PDKT
11        111           PN12   35  Female         PDKT         MAS
12        112           PN13   40  Female         PDKT         MAS
13        113           PN14   21    Male          MAS        PDKT
14        114           PN15   40  Female          MAS        PDKT
15        115           PN16   38    Male          MAS        PDKT
16        116           PN17   80    Male         PDKT         MAS
17        117           PN18   23    Male          MAS        PDKT
18        118           PN19   32    Male         PDKT         MAS
19        119           PN20   72    Male          MAS        PDKT
20        120           PN21   44    Male         PDKT         MAS
21        121           PN22   67  Female         PDKT         MAS
22        122           PN23   49  Female         PDKT         MAS
23        123           PN24   51    Male         PDKT         MAS
24        124           PN25   22  Female         PDKT         MAS
25        125           PN26   62  Female          MAS        PDKT
26        126           PN27   38  Female          MAS        PDKT
27        127           PN28   68    Male         PDKT         MAS
28        128           PN29   17  Female         PDKT         MAS
29        129           PN30   58    Male         PDKT         MAS
30        130           PN31   49    Male          MAS        PDKT
31        131           PN32   52    Male         PDKT         MAS
32        132           PN33   39    Male         PDKT         MAS
33        133           PN34   31    Male         PDKT         MAS
34        134           PN35   24    Male          MAS        PDKT
35        135           PN36   25  Female          MAS        PDKT
36        136           PN37   27  Female         PDKT         MAS

    Train name  Seat No
0        12345        1
1        12345        2
2        54321        1
3        54321        2
4        12345        3
5        54321        3
6        54321        4
7        12345        4
8        54321        5
9        54321        6
10       12345        5
11       54321        7
12       54321        8
13       12345        6
14       12345        7
15       12345        8
16       54321        9
17       12345        9
18       54321       10
19       12345       10
20       54321       11
21       54321       12
22       54321       13
23       54321       14
24       54321       15
25       12345       11
26       12345       12
27       54321       16
28       54321       17
29       54321       18
30       12345       13
31       54321       19
32       54321       20
33       54321       21
34       12345       14
35       12345       15
36       54321       22
Index(['Ticket No', 'Passengar Name', 'Age', 'Sex', 'Boarded from',
       'Destination', 'Train name', 'Seat No'],
      dtype='object')
(37, 8)
0     69
1     65
2     68
3     70
4     70
5     47
6     53
7     44
8     34
9     38
10    51
11    35
12    40
13    21
14    40
15    38
16    80
17    23
18    32
19    72
20    44
21    67
22    49
23    51
24    22
25    62
26    38
27    68
28    17
29    58
30    49
31    52
32    39
33    31
34    24
35    25
36    27
Name: Age, dtype: int64
    Ticket No Passengar Name  Age   Sex Boarded from Destination  Train name  \
16        116           PN17   80  Male         PDKT         MAS       54321

    Seat No
16        9