<a href="https://colab.research.google.com/github/VidhyaKishor27/Pythonbasic/blob/main/Pandas-Series%20%26%20dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pandas lib notes & ref pgm
"""
pandas used to work with data sets, used to clean, evaluate, analysis data.
->has 2 classes: series & dataframe
->Series - for 1d data, series, can hold different data types
"""
#Pandas Series
#import numpy as np
import pandas as pd
s1=pd.Series([1,2,3,4]) #assigning values to series in pandas
print(s1) # printing the series
print(s1.index)
print(s1.values)
s2=pd.Series([1,2,7,8],index=['a','b','c','d'])
print(s2.index)
print(s2.values)
print(s2)
s3=pd.Series([1,2,9,0])
print(s1.compare(s3)) # give dif values as result

0    1
1    2
2    3
3    4
dtype: int64
RangeIndex(start=0, stop=4, step=1)
[1 2 3 4]
Index(['a', 'b', 'c', 'd'], dtype='object')
[1 2 7 8]
a    1
b    2
c    7
d    8
dtype: int64
   self  other
2   3.0    9.0
3   4.0    0.0

'\n->Dataframe - for multi dimentional arrays, table, values\n'

In [18]:
#Dataframe - for multi dimentional arrays, table, values
# Pandas Dataframe with list & Dict
import pandas as pd
cust_list=[['jani','Saree','10'],['seetha','Chudi',4],['raja','leganga',1],['ratha','jeans',5]]
df_cust=pd.DataFrame(cust_list,columns=['CustomerName','Pdt','Qty'],index=['jani@mail','seetha@mail','raja@mail','ratha@mail'])
print(df_cust)
print(df_cust.head(1)) # gives no of data from top of data
print(df_cust.tail(1)) # gives no of data from bottom of data
print(df_cust.shape) # give the no of rows, col list
cust_dict={"Provisions":["Rice","Dhal","Ghee"],'Qty in kg':[25,5,1],'Rates':[1200,1000,500]}
df_pdt=pd.DataFrame(cust_dict)
print(df_pdt)

            CustomerName      Pdt Qty
jani@mail           jani    Saree  10
seetha@mail       seetha    Chudi   4
raja@mail           raja  leganga   1
ratha@mail         ratha    jeans   5
          CustomerName    Pdt Qty
jani@mail         jani  Saree  10
           CustomerName    Pdt Qty
ratha@mail        ratha  jeans   5
(4, 3)
  Provisions  Qty in kg  Rates
0       Rice         25   1200
1       Dhal          5   1000
2       Ghee          1    500

In [22]:
# Pandas Dataframe reading files
import pandas as pd
df=pd.read_excel('/content/drive/MyDrive/Python training/test.xlsx')
#df=pd.read_excel('/content/drive/MyDrive/Python training/test.xlsx',header=none)->removes header in file
#df=pd.read_excel('/content/drive/MyDrive/Python training/test.xlsx',skiprows=1)->skips given no of rows in file
#df=pd.read_excel('/content/drive/MyDrive/Python training/test.xlsx',comment="..")->considers given symbol with double quotes as comments & ignore it.
print(df)

    Name  Marks
0  rekha     90
1    len     25
2    abc     78