<a href="https://colab.research.google.com/github/VidhyaKishor27/Pythonbasic/blob/main/Python_basic_terms_%26_its_need.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Python basics
# 1. Indentation - Spaces at beginning of code are mandatory to indicate that they are block of sets of same function/conditions.
# ->No. of spaces depends on us.
# 2. Comments - starts with # symbol, python ignore that code during execution.
# 3. Multi line comments - can insert # in each line to indicate as comments as can use """ (triple quotes) at beginning & end.
def fun():
  print("Hello World!") # to print the stmt -> this is comment.
  """
  This is just a testing functions. -> Multiline comment.
  Please ignore.
  """
fun()

Hello World!

In [5]:
"""
 4. Variables -> containers for storing data values,
 ->gets created while assigning values,
 ->no need to mention data types, can change type anytime.
 -> allow to assign values to muiltple var in 1 line & same value to multiple var in 1 line.
 -> use print stmt to give output i.e o/p var
 rules for var names: ->can start with letters & underscore, cannot start with number,
 ->can have alphanumeric letter, underscore & are case sensitive

 """
x= 2 # x is variable of data type int
y="Vidhya" # y is variable of data type str
z=a=b=4
c,d,e=1,2,3 # assign values to multiple var
total=a+b+c+d+e+z
print(y,x) # This is o/p var
print("Sum of numbers is", total)

Vidhya 2
Sum of numbers is 18

In [9]:
#5. String Concatenation -> adds to strings together, use + operator for combing 2 string, for int it act as addition operator.
x="Vidhya"
y="Kishor"
print(x+y)
print(x,"",y)

VidhyaKishor
Vidhya  Kishor

In [11]:
"""
6.Global Variable -> var declared outside func is global var, can be used inside & outside func.
-> use keyword globla to declare inside func.
"""
x= "Kris"
def test():
  global y
  y="vid"
  x="Kishor"
  print(x)
test()
print(x)
print (x+y)

Kishor
Kris
Krisvid

In [12]:
# 6. Datatypes -. there are many data types built in, use type() to get its types. Its types are set while assigning values to var.
print(type("Hello"))
print(type(3))
print(type(3.14))
print(type(1j))
print(type(["apple", "banana", "cherry"]))
print(type(("apple", "banana", "cherry")))
print(type(range(6)))
print(type({"name" : "John", "age" : 36}))
print(type({"apple", "banana", "cherry"}))
print(type(frozenset({"apple", "banana", "cherry"})))
print(type(True))
print(type(b"Hello"))
print(type(bytearray(5)))
print(type(memoryview(bytes(5))))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

In [13]:
"""
7. Numeric Types (int, float, complex)
-> Int - no. with no deceimals. int() used to convert any no to int value.
-> Float - no. with deceimals. float() used to convert any no to float value.
-> Complex - uses j as imaginary value. complex() used to convert any no to complex value.
"""
x= 3
y=4.5
z=6j
print(float(x))
print(int(y))
print(complex(x))

3.0
4
(3+0j)

In [19]:
"""
8. String: (in python it is array of unicode char as there is no separate char data type)
-> gets created while assigning str to var, uses "" or ' ' quotes to assign str values.
-> uses triple double/single quotes for multiline string.
->use [] to access elements of string.
"""
x="Texas"
y='''Allen is city of Texas.
  Texas is a state in USA'''
print(x[0:3]) # Slicing str start index, end index use colon in middle.
print(x[-4:-2])# use -ve index to start from last.
print(len(x)) # to get length of str
z= "as" in x # for checking str elmts use 'in' & 'not in' keywords
print(x)
a="I live in allen for {} years"
print(a.format(1)) # format() used to combine str & number in place of {} given in text. can use index no of items to place in multiple {}
print("My name is \"June\" ") # use escape char (blackslash) to use illegal char in str.

Tex
ex
5
Texas
I live in allen for 1 years
My name is "June"

In [1]:
#9. Boolean: evaluates expression & returns true or false.
x=5
y=3
print(x>y) # returns boolean value
bool(x) # bool() is to evaluate value.
print(isinstance(x,int))

True
True

In [2]:
""" 10. Operators:
Arithmetic operators -> +,-,/,*,%,//,**
Assignment operators -> =,+=,-=,etc
Comparison operators->==,!=,<,>
Logical operators-> and, or, not
Identity operators -> is, is not
Membership operators -> in, not in
Bitwise operators->&,|,etc
"""
print(5+10)

15

In [8]:
# 11. List - Unchangable, use square bracket
l1=['a','b','c']
l2=[1,2,3]
l3=[4,5,6]

print(l1[0]) # access items using index no in list
l1[1]='d' # change items in list
print(l1)
for x in l2:
  print(x)
l2.append(4)
l1.insert(4,'e')
l3=l2.copy()
l1.remove('d')
l3.clear()
del l2[0]
print(l1)
print(l2)
print(l3)

a
['a', 'd', 'c']
1
2
3
['a', 'c', 'e']
[2, 3, 4]
[]

In [ ]:
# 12. Tuple