<a href="https://colab.research.google.com/github/VidhyaKishor27/Pythonbasic/blob/main/Tuples%2C_Set_%26_Dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Tuples - ordered & unchangeable, indexed.
# use round bracket
# give , at the end of tuple if creating only one item in it
#to do changes in tuple-> change to list->do changes->change list to tuple
xtuple=("Vidhya",20)
print(xtuple)
ytuple=("Allen",)
print(ytuple)
print(xtuple[0])
z=list(xtuple) # to do changes in tuple, convert to list
z[1]=30
a=tuple(z)
print(a)
for x in xtuple:
  print (x)
if 20 in xtuple: # use in keyword for checking in tuple
  print("Wrong Age")
else:
  print("Correct Age")
print(len(a))
del(a)
b=xtuple+ytuple
print(b)

('Vidhya', 20)
('Allen',)
Vidhya
('Vidhya', 30)
Vidhya
20
Wrong Age
2
('Vidhya', 20, 'Allen')

In [16]:
# Set - unordered, unchangeable, and unindexed
# use curly bracket
set1={"Venba",8}
set2={"allen"}
set4={"Fair Girl"}
for x in set1: # to access items in set use for loop, as it in unindexed
  print (x)
set2.add("Grade 2") # to add single item - add()
print(set2)
set2.update(["Reed","First"]) # to add multiple item - update()
print(set2) # set is unorder, so result come in any order.
if 8 in set1: # use in keyword for checking in tuple
  print("Correct Age")
else:
  print("Wrong Age")
print(len(set1))
set3=set1.union(set2) # add all items in both set in new set
print(set3)
set1.update(set4) # add items in set2 in set 1
print(set1)
del set4 # delete complete set
set3.pop() # remove last item in set - pop()
print(set3)
set1.remove(8) # remove mentioned item in set - remove() or discard()
print(set1)
set3.clear() # empties the set - clear()
print(set3)

Venba
8
{'Grade 2', 'allen'}
{'Grade 2', 'Reed', 'allen', 'First'}
Correct Age
2
{'Venba', 'Reed', 'allen', 8, 'Grade 2', 'First'}
{'Venba', 8, 'Fair Girl'}
{'Reed', 'allen', 8, 'Grade 2', 'First'}
{'Venba', 'Fair Girl'}
set()

In [20]:
#Dictionary - unordered, changeable and indexed.
# use curly braces, have keys & values, can access values using keys
dict1={"Name":"Isai","Age":3,"Color":"Fair","City":"Allen"}
dict2={"Name":"Venba","Age":7}
dict3={"Name":"Vidhya","Age":30}
print(dict1)
print(dict1["Name"]) # access values using keys
dict1["Grade"]= "Pre K" # adding value in dic
dict1["Age"]= 4 # changing values
print(dict1)
for x in dict1: # looping
  print(x)
if "Age" in dict1 == 4: # use in keyword for checking
  print("Correct Age")
else:
  print("Wrong Age")
print(len(dict1)) # length of dict
dict1.popitem() # delete last item
print(dict1)
dict2.pop("Age") ## delete specified item
print(dict2)
del dict1["Color"] # delete specified item
print(dict1)
dict2.clear() # empties entire dict
dict4=dict3.copy()
print(dict4) # copy dict
del dict3 # del deletes entire dict
print(dict2)

{'Name': 'Isai', 'Age': 3, 'Color': 'Fair', 'City': 'Allen'}
Isai
{'Name': 'Isai', 'Age': 4, 'Color': 'Fair', 'City': 'Allen', 'Grade': 'Pre K'}
Name
Age
Color
City
Grade
Wrong Age
5
{'Name': 'Isai', 'Age': 4, 'Color': 'Fair', 'City': 'Allen'}
{'Name': 'Venba'}
{'Name': 'Isai', 'Age': 4, 'City': 'Allen'}
{'Name': 'Vidhya', 'Age': 30}
{}