<a href="https://colab.research.google.com/github/VidhyaKishor27/Pythonbasic/blob/main/using_file_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
from google.colab import drive
drive.mount('/content/drive')
#using excel file in python
import pandas as pd
datafile = pd.read_excel('/content/drive/MyDrive/Python training/Student.xlsx')
print(datafile)
datafile['Total Marks'] = None
index_EngMark = datafile.columns.get_loc('Eng Mark')
index_MathsMark = datafile.columns.get_loc('Maths Mark')
index_SciMark = datafile.columns.get_loc('Sci Mark')
index_Total = datafile.columns.get_loc('Total Marks')
for row in range(0,len(datafile)):
 datafile.iloc[row,index_Total]= datafile.iloc[row,index_EngMark]+datafile.iloc[row,index_MathsMark]+datafile.iloc[row,index_SciMark]
print(datafile)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   Student ID Student Name  Eng Mark  Maths Mark  Sci Mark
0         101         Raja        50          70        68
1         102      Gautham        70          69        79
2         103         Rani        55          76        81
3         104       Swathi        89          90        95
4         105     Chandran        78          75        89
   Student ID Student Name  Eng Mark  Maths Mark  Sci Mark Total Marks
0         101         Raja        50          70        68         188
1         102      Gautham        70          69        79         218
2         103         Rani        55          76        81         212
3         104       Swathi        89          90        95         274
4         105     Chandran        78          75        89         242